{% set title = "about" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}

<main>
  <div class="container">
    <section class="content-block m-t-50 m-b-50">
      <div class="row align-items-center">
        <div class=" col-xl-4">
          <div class="slide2-subtitle">
            Коротко о нашей компании
          </div>
        </div>
        <div class="col-xl-8">
          <h2 class="content-title">как мы оказались</h2>
        </div>
      </div>
    </section>
    <div class="row m-b-50">
      <div class="col-xl-8 offset-xl-2">
        <div class="about-img">
          <img src="./images/png/about1.png" alt=":(">
        </div>
        <section class="about-text">
          <p class="about-text-item">
            Именно там, отправляясь в лес с вооруженной охраной и рейнджерами, такими как Инносент Мбуранумве, Байрон
            впервые оценил феноменальные инвестиции, которые идут на важные, крупномасштабные проекты по сохранению.
            Вирунга и ее гориллы не могли бы существовать без доходов от туризма. Они также не существовали бы без
            храбрых людей, рискующих своими жизнями, чтобы защитить его, как видно из документального фильма о Вирунге,
            выпущенного в то же время.
          </p>
          <p class="about-text-item">
            Во время этой поездки вскоре стало очевидно, что участие сообщества и общая ценность жизненно важны для
            долгосрочной защиты мира природы. Поездка посеяла семена того, что позитивное влияние путешествий проходит
            через невероятно сложную и тонкую грань, но очень важную для общества, природы и здоровья нашей планеты.
          </p>
          <p class="about-text-item">
            Ниарра родилась не в момент озарения, а в результате постепенного осознания того, что перемены назрели. Часы
            тикают в традиционных моделях туризма, которые служат прибыли, а не цели, и где направления, сообщества и
            природоохранные проекты получают небольшую долю клиентских сборов. Вся цепочка создания стоимости индустрии
            туризма должна работать вместе для большей справедливости и положительного воздействия. Путешественники все
            больше стремятся к прозрачности, реальному влиянию, а направления более громко заявляют о своих
            потребностях.
          </p>
        </section>
        <section class="m-b-50">
          <div class="row">
            <div class="col-xl-6">
              <div class="about-img-item">
                <img src="./images/png/about2.png" alt=":(">
              </div>
            </div>
            <div class="col-xl-6">
              <div class="about-img-item">
                <img src="./images/png/img3.png" alt=":(">
              </div>
            </div>
          </div>
        </section>
        <section class="about-text" >
          <p class=" about-text-item">
          Именно там, отправляясь в лес с вооруженной охраной и рейнджерами, такими как Инносент Мбуранумве, Байрон
          впервые оценил феноменальные инвестиции, которые идут на важные, крупномасштабные проекты по сохранению.
          Вирунга и ее гориллы не могли бы существовать без доходов от туризма. Они также не существовали бы без
          храбрых людей, рискующих своими жизнями, чтобы защитить его, как видно из документального фильма о Вирунге,
          выпущенного в то же время.
          </p>
          <p class="about-text-item">
            Во время этой поездки вскоре стало очевидно, что участие сообщества и общая ценность жизненно важны для
            долгосрочной защиты мира природы. Поездка посеяла семена того, что позитивное влияние путешествий проходит
            через невероятно сложную и тонкую грань, но очень важную для общества, природы и здоровья нашей планеты.
          </p>
        </section>
      </div>
    </div>
  </div>
</main>

{% include "components/footer.html" %}
{% endblock %}