{% set title = "index" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}

<main>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="slide-wrap">
          <div style="--swiper-navigation-color: #f00; --swiper-pagination-color: #f00" class="swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slide-block">
                  <div class="slide-info">
                    <div class="slide-subtitle">плов</div>
                    <div class="slide-title">Узбекская кухня 1</div>
                    <div class="slide-text">
                      Мы хотим чтобы туристы наслаждались вкусной едой и качественном сервисом!
                    </div>
                    <a class="main-link" href="#!">Подробнее</a>
                  </div>
                  <div class="slide-active-img">
                    <img src="./images/png/slide-xl1.png" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-block">
                  <div class="slide-info">
                    <div class="slide-subtitle">плов</div>
                    <div class="slide-title">Узбекская кухня 2</div>
                    <div class="slide-text">
                      Мы хотим чтобы туристы наслаждались вкусной едой и качественном сервисом!
                    </div>
                    <a class="main-link" href="#!">Подробнее</a>
                  </div>
                  <div class="slide-active-img">
                    <img src="./images/png/slide-sm1.png" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-block">
                  <div class="slide-info">
                    <div class="slide-subtitle">плов</div>
                    <div class="slide-title">Узбекская кухня 3</div>
                    <div class="slide-text">
                      Мы хотим чтобы туристы наслаждались вкусной едой и качественном сервисом!
                    </div>
                    <a class="main-link" href="#!">Подробнее</a>
                  </div>
                  <div class="slide-active-img">
                    <img src="./images/png/slide-sm2.png" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-block">
                  <div class="slide-info">
                    <div class="slide-subtitle">плов</div>
                    <div class="slide-title">Узбекская кухня 4</div>
                    <div class="slide-text">
                      Мы хотим чтобы туристы наслаждались вкусной едой и качественном сервисом!
                    </div>
                    <a class="main-link" href="#!">Подробнее</a>
                  </div>
                  <div class="slide-active-img">
                    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-block">
                  <div class="slide-info">
                    <div class="slide-subtitle">плов</div>
                    <div class="slide-title">Узбекская кухня 5</div>
                    <div class="slide-text">
                      Мы хотим чтобы туристы наслаждались вкусной едой и качественном сервисом!
                    </div>
                    <a class="main-link" href="#!">Подробнее</a>
                  </div>
                  <div class="slide-active-img">
                    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-block">
                  <div class="slide-info">
                    <div class="slide-subtitle">плов</div>
                    <div class="slide-title">Узбекская кухня 6</div>
                    <div class="slide-text">
                      Мы хотим чтобы туристы наслаждались вкусной едой и качественном сервисом!
                    </div>
                    <a class="main-link" href="#!">Подробнее</a>
                  </div>
                  <div class="slide-active-img">
                    <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="slide-control">
            <div class="swiper-button-prev"><span><img src="./images/svg/left.svg" alt=":("></span></div>
            <div class="slide-counter">
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-next"><span><img src="./images/svg/right.svg" alt=":("></span></div>
          </div>

          <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./images/png/slide-xl1.png" />
              </div>
              <div class="swiper-slide">
                <img src="./images/png/slide-sm1.png" />
              </div>
              <div class="swiper-slide">
                <img src="./images/png/slide-sm2.png" />
              </div>
              <div class="swiper-slide">
                <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
              </div>
              <div class="swiper-slide">
                <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="content-block">
      <div class="row align-items-center">
        <div class=" col-xl-4">
          <div class="slide2-subtitle">
            Авторские туры в Узбекистан на весну 2022
          </div>
        </div>
        <div class="col-xl-8">
          <h2 class="content-title">Специальные предложения</h2>
        </div>
      </div>
    </section>
  </div>
  <section class="full-content">
    <div class="full-slide-wrap">
      <div class="swiper fullSwiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <a href="tourSingle.html" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Бухаре с гидом.</div>
              <div class="slide-tour-sum">820 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>80</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img2.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide ">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Хиве с гидом (Ежедневно)</div>
              <div class="slide-tour-sum">760 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>72</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img1.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Бухаре с гидом.</div>
              <div class="slide-tour-sum">820 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>80</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img2.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Тур в Узбекистан "Сказания Омар Хайяма.</div>
              <div class="slide-tour-sum">1000 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>95</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img2.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Бухаре с гидом.</div>
              <div class="slide-tour-sum">820 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>80</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img2.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Хиве с гидом (Ежедневно)</div>
              <div class="slide-tour-sum">760 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>72</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img1.png" alt=":(">
              </div>
            </a>
          </div>

        </div>
        <div class="full-slide-control">
          <div>
            <div class=" prev2"><span><img src="./images/svg/left.svg" alt=":("></span></div>
            <div class=" next2"><span><img src="./images/svg/right.svg" alt=":("></span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="content-block m-b-50">
      <h2 class="content-title">мы предлагаем вам крутые услуги</h2>
    </section>
    <div class="row m-b-100">
      <div class="col-xl-4">
        <article class="offer">
          <div class="offer-logo"><img src="./images/svg/conference.svg" alt=":("></div>
          <div class="offer-title">Конференция</div>
          <p class="offer-text">Конференция — коллегиальный орган управления высшим.организуются с
            целью предоставления СМИ
            проблемной и комментирующей информации. </p>
          <a class="offer-link" href="#!">Узнать больше</a>
        </article>
      </div>
      <div class="col-xl-4">
        <article class="offer">
          <div class="offer-logo"><img src="./images/svg/timbilding.svg" alt=":("></div>
          <div class="offer-title">Тимбилдинг</div>
          <p class="offer-text">В этой статье мы рассмотрим, что же такое на самом деле. Конференция — коллегиальный
            орган управления высшим. </p>
          <a class="offer-link" href="#!">Узнать больше</a>
        </article>
      </div>
      <div class="col-xl-4">
        <article class="offer">
          <div class="offer-logo"><img src="./images/svg/m-class.svg" alt=":("></div>
          <div class="offer-title">Мастер класс</div>
          <p class="offer-text">Яркие вкусные кулинарные мероприятия. В этой статье мы рассмотрим, что же такое на самом
            деле. Конференция — коллегиальный орган управления высшим.</p>
          <a class="offer-link" href="#!">Узнать больше</a>
        </article>
      </div>
    </div>
    <section class="content-block">
      <div class="row align-items-center">
        <div class=" col-xl-4">
          <div class="slide2-subtitle">
            Найдите подходяшего вам тура
          </div>
        </div>
        <div class="col-xl-8">
          <h2 class="content-title">мировые экскурсии</h2>
        </div>
      </div>
    </section>
  </div>
  <section class="full-content">
    <div class="full-slide-wrap">
      <div class="swiper fullSwiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Бухаре с гидом.</div>
              <div class="slide-tour-sum">820 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>80</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img2.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide ">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Хиве с гидом (Ежедневно)</div>
              <div class="slide-tour-sum">760 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>72</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img1.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Бухаре с гидом.</div>
              <div class="slide-tour-sum">820 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>80</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img2.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Тур в Узбекистан "Сказания Омар Хайяма.</div>
              <div class="slide-tour-sum">1000 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>95</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img2.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Бухаре с гидом.</div>
              <div class="slide-tour-sum">820 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>80</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img2.png" alt=":(">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#!" class="slide-tour-item">
              <div class="slide-tour-name">Экскурсия в Хиве с гидом (Ежедневно)</div>
              <div class="slide-tour-sum">760 000 <span>сум</span> <span
                  class="slide-tour-price"><span>$</span>72</span>
              </div>
              <div class="slide-tour-img">
                <img src="./images/png/img1.png" alt=":(">
              </div>
            </a>
          </div>

        </div>
        <div class="full-slide-control">
          <div>
            <div class=" prev2"><span><img src="./images/svg/left.svg" alt=":("></span></div>
            <div class=" next2"><span><img src="./images/svg/right.svg" alt=":("></span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="content-block m-b-50">
      <div class="row align-items-center">
        <div class=" col-xl-8">
          <h2 class="content-title">Наш ведущий партнер</h2>
        </div>
        <div class="col-xl-4">
         <div class="partner-logo">
           <img src="./images/png/logo.png" alt="">
         </div>
        </div>
      </div>
    </section>
    <section class="content-block m-b-100">
      <div class="row align-items-center">
        <div class=" col-xl-7">
          <div class="form-block">
            <h2 class="content-title">Новости и акции</h2>
            <div class="slide2-subtitle">
              мы отправляем вам новости и акции на ваш эмаил
            </div>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="form-wrap">
            <form action="#" class="email-form">
              <label for="email">
                <span>Электронная почта</span>
                <input type="text" placeholder="эмаил">
              </label>
              <button class="main-link">отправить</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{% include "components/footer.html" %}
{% endblock %}