<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <div class="footer-nav-inner">
        <a class="logo" href="#!"><img src="./images/png/logo.png" alt=":("></a>
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#!">Главная</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#!">Туры</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#!">О нас</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#!"">Советы путешествия</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="contact.html">Контакты</a>
          </li>
        </ul>
      </div>
      <ul class="footer-pay-menu">
        <li><a href="#!"><img src="./images/svg/visa.svg" alt=":("></a></li>
        <li><a href="#!"><img src="./images/svg/mastercard.svg" alt=":("></a></li>
        <li><a href="#!"><img src="./images/png/humo.png" alt=":("></a></li>
        <li><a href="#!"><img src="./images/png/uzcard.png" alt=":("></a></li>
      </ul>
    </nav>
    <div class="footer-last-block">
      <div class="footer-cop">© 2022 OOO YUMMY TOUR TRAVEL</div>
      <ul class="footer-social-wrap">
        <li class="footer-social-item"><a href="#!"><img src="./images/svg/facebook.svg" alt=""></a></li>
        <li class="footer-social-item"><a href="#!"><img src="./images/svg/instagram.svg" alt=""></a></li>
        <li class="footer-social-item"><a href="#!"><img src="./images/svg/telegram.svg" alt=""></a></li>
       
        <li class="footer-social-item"><a href="#!"><img src="./images/svg/youtube.svg" alt=""></a></li>
      </ul>
      <a href="http://rteco.org">
        <img src="./images/svg/rteco.svg" alt=":(">
      </a>
    </div>
  </div>
</footer>