<header>
  <div class="container">
    <div class="header-inner">
      <div class="logo-wrap">
        <a class="logo" href="index.html"><img src="./images/png/logo.png" alt=":("></a>
        <div class="burger-btn"><span class="burger"></span></div>
      </div>
      <nav class="header-nav">
        <ul class="header-menu">
          <li class="header-menu-item"><a class="header-menu-link active-link" href="#!">Главная</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="tour.html">Туры</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="about.html">О нас</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="advise.html">Советы путешествия</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="contact.html">Контакты</a></li>
        </ul>
        <div class="dropdown">
          <a class="btn dropdown-toggle lang-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-expanded="false">
            <img src="./images/png/russia.png" alt=":("> <span>Ру</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item lang-link" href="#">
              <img src="./images/png/russia.png" alt=":("> <span>Uz</span>
            </a>
            <a class="dropdown-item lang-link" href="#"><img src="./images/png/russia.png" alt=":("> <span>En</span></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>